

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Kode Mono", monospace;
text-align: center;
color: aliceblue;
background: rgb(225, 153, 198);
background:radial-gradient(circle, rgb(236, 164, 209) 0%, rgb(151, 99, 248)100%);
}

h1{
    font-size: 60px;
    text-shadow: 0 0 30px purple;
}
a{
    display: block;
    color: white;
    text-decoration: none;
    width: 250px;
    height: 40px;
    margin: 20px auto;
    background-color: rgb(191, 127, 250);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}
a:hover{
    box-shadow: 0 0 5px rgb(55, 100, 223);
    border: 1px solid black;
    background-color: rgb(193, 227, 243);
    color: rgb(90, 100, 238);
    transform: scale(1.2);

}